<br>
<h2>Курсовой проект по ООП</h2>
<div class="a">
    <div class="col-md-8">
        <p>Студента группы М80-209Б-18</p>
        <p>Михеева Кирилла Вячеславовича</p>
        <hr />
        <p>
            Я попробовал реализовать простой сайт с помощью Microsoft ASP.NET Core MVC. Этот сайт используется как новостной блог, где я могу добавлять новые посты.
            Так же здесь реализована система many to one, которая означает, что идет отношение между моделями поста и тега.
        </p>
    </div>

    <div class="col-md-4">
        <img class="img-thumbnail" src="~/img/kirill.jpg" alt="picture" />
    </div>

    <footer style="float: left">
        <p>&copy; 2019 - News_blog</p>
    </footer>
</div>
