<br>
<h2>Курсовой проект по ООП</h2>
<br>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Текст отзыва:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
    Отправить
</a>